<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

<servers>
    <server>
      <id>nexus-snapshots</id>
      <username>NEXUSUSER</username>
      <password>NEXUSPASSWORD</password>
    </server>
    <server>
      <id>nexus-releases</id>
      <username>NEXUSUSER</username>
      <password>NEXUSPASSWORD</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>central</id>
      <name>central</name>
      <url>http://NEXUSURL/repository/fw-maven-group/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>



  <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
  </pluginGroups>
  <profiles>
    <profile>
        <id>sonar</id>
        <activation>
            <activeByDefault>true</activeByDefault>
        </activation>
        <properties>
            <sonar.host.url>
              http://SONARURL
            </sonar.host.url>
        </properties>
    </profile>
  </profiles>

</settings>
